---
---

@import "{{ site.theme }}";

header {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0;
    margin-top: 36px;
    background:#9db4be;
    position: relative;
    border-bottom: none;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 2px 4px rgba(0,0,0,.17);
    overflow: hidden;
    height: 210px;
}


header img {
    position: absolute;
    bottom: -40px;
}

.main-content h2:before, .main-content h1:before, .main-content h3:before, .main-content h4:before, .main-content h5:before {
    content: none;
}

h5.keynote-speaker, h5.talk_speaker {
    margin-left: 0;
    margin-top: -18px;
}

#content-wrapper {
    border-top: none;
}

.equal_contribution {
    cursor: pointer;
}

.footnote_box {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

.footnote {
    font-family: -apple-system, BlinkMacSystemFont, "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 12px;
    text-align: left;
}

#main-content h2, #main-content h1, #main-content h3 {
font-family: -apple-system, BlinkMacSystemFont, "Oxygen","Ubuntu", "Cantarell", "Fira Sans", "Open Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
text-indent: 0;
}

.floating-description {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(11, 0, 62);
    font-size: 27px;
    max-width: 500px;
}

.title_bar {
    position: fixed;
    top: 0;
    background: white;
    width: 100%;
    z-index: 100;
    padding-top: 5px;
}
.title_bar h1 {
    font-size: 24px;
}

ul.navigation, ul.mobile-navigation {
    list-style-type: none;
    list-style: none;
}

ul.navigation {
    font-size: 22px;
    padding-top: 20px;
    padding: 0;
    display: inline-block;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    margin-left: 50px;
}
li.navigation-link, li.mobile-navigation-link {
    display: inline-block;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
}
li.navigation-link, li.mobile-navigation-link {
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.1s ease-in-out;
    white-space: nowrap;
}

ul.navigation-below {
    margin-left: 0;
}

li.navigation-link {
    padding-right: 16px;
    padding-left: 0;
    font-size: 18px;
}
li.navigation-link a, li.mobile-navigation-link a {
    color: inherit;
}
li.navigation-link:hover, li.mobile-navigation-link:hover {
    color: #5029CA;
}
li.navigation-link-active, li.mobile-navigation-link-active {
    color: #1B66F1;
}
li.navigation-link-active:hover, .mobile-navigation-active:hover {
    color: #165ADC;
}
li.navigation-link-title, {
    margin-right: 50px;
    font-size: 24px;
    color: black;
}
.mobile-navigation {
    display: none;
}

.mobile-navigation-link {
    font-size: 15px;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    background: #F7FBFA;
    margin-right: 2px;
    border: 1px solid rgba(0,0,0,0.05);
}

.speaker-bio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.speaker-bio .img-holder {
    width: 225px;
    height: 225px;
    position: relative;
    overflow: hidden;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 30px;
}
.speaker-bio .img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schedule-table {
    font-size: 20px;
    line-height: 1.5;
    cellpadding: 10;
}
.schedule-table td, .schedule-table th {
    padding: 5px 10px 5px 10px;
}

ul.footnotes {
    list-style-type: none;
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding-top: 5px;
}

/* slight gray/blue tinge */
.speaker_section, .areas_of_interest_section {
    background: #f6f9fc;
}
.speaker_section h2, .speaker_section h3,
.areas_of_interest_section h2, .areas_of_interest_section h3 {
    color: #32325d;
}
.overview_section h2, .virtual_schedule_section h2 {
    color: black;
}

.speaker_section h2, .overview_section h2, .schedule_section h2, .areas_of_interest_section h2, .submission_section h2 {
    font-size: 36px;
    text-align: center;
}
body {
    background: white;
}

.areas_of_interest_section li {
    color: rgb(104, 116, 130);
}

.areas_of_interest_section li ul {
    list-style-type:square;
}
.areas_of_interest_section li li {
    color: #5959a6;
}

.organizers-section, .contact-us-section {
    color: #8898aa;
    background: #f6f9fc;
    border-top: 2px solid rgba(207,215,223,.25);
}

.organizers-section li b, .contact-us-section li b {
    color: rgb(136, 152, 170);
}

.session-authors {
    font-size: 15px;
}


.speaker_section, .areas_of_interest_section, .schedule_section, .organizers-section, .contact-us-section {
    padding-bottom: 50px;
    padding-top: 50px;
}



.navigation-home-message, li.navigation-home {
    font-size: 12px;
    line-height: 16px;
    color: #333;
}
.navigation-home-message {
    opacity: 0.8;
}

.other-site-nav {
    background: #f6f9fc;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 2px;
    padding-left: 50px;
    overflow-x:auto;
}

li.navigation-home {
    padding: 0 6px;
    background: white;
    opacity: 0.9;
    height: auto;
    border: 1px solid rgba(0,0,0,0.05);
    margin-right: 2px;
}
li.navigation-home:hover {
    opacity: 1;
    color: #5029CA;
}

@media only screen and (max-width: 700px) {
    .hide-on-mobile {
        visibility: hidden;
    }
    .mobile-navigation {
        display: block;
    }
    .speaker_section, .areas_of_interest_section .schedule_section, .organizers-section, .contact-us-section {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .mobile-super-hidden {
        display: none !important;
    }
    li.navigation-home {
        padding: 8px 6px;
        margin-top: 2px;
    }
    li.navigation-link-title {
        font-size: 20px;
    }
    .other-site-nav {
        padding-bottom: 0;
    }
    header {
        height: 120px;
    }
    .floating-description {
        padding-top: 45px;
        left: 25px;
        font-size: 20px;
    }
    .speaker_section h2, .overview_section h2, .schedule_section h2, .areas_of_interest_section h2, .submission_section h2 {
        font-size: 25px;
        text-align: left;
    }
    .speaker-bio {
        flex-direction: column;
      }
      .img-holder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 10;
        width: 200px;
        height: 200px;
        margin-top: 10px;
    }
}

.no-mobile-480 {
    visibility: visible;
}
.mobile-480 {
    visibility: hidden;
}

@media only screen and (max-width: 500px) {
    .other-site-nav {
        padding-left: 5px;
    }
    .navigation-home-message {
        display: none;
    }
    .no-mobile-480 {
        visibility: hidden;
    }
    .mobile-480 {
        visibility: visible;
    }
}
