<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> -->


    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% seo %}
  </head>
  <body>
    <header>
      <div class="title_bar">
        {% assign temp_title = site.title %}
        {% assign description = site.description %}
        {% assign mini_description = site.mini_description %}
        {% assign root = '/' %}
        {% assign workshops = 'neurips2018,isca2019,neurips2019,neurips2020,neurips2021,neurips2022,neurips2023,neurips2024' | split: ',' %}
        {% if page.workshop_name != site.workshop_name %}
        {% assign temp_title = page.site_title %}
        {% assign description = page.site_description %}
        {% assign mini_description = page.mini_site_description %}
        {% assign root = page.url | slice: 1, 1000 | split: '/' | first | prepend: '/' %}
        {% endif %}
        <ul class="navigation">
            <li class="navigation-link navigation-link-title" style="font-family: monospace;
    font-weight: 500;"><a href="/">
              {{ temp_title | default: site.github.repository_name }}
            </a></li>
        {% for site_page in site.pages %}
          {% if site_page.title and site_page.workshop_name == page.workshop_name %}
          {% assign class = "navigation-link hide-on-mobile" %}
          {% if page.url == site_page.url %}
              {% assign class = "navigation-link hide-on-mobile navigation-link-active" %}
          {% endif %}
          <li class="{{ class }}"><a href="{{ site_page.url }}" alt="{{ site_page.title }}">{{ site_page.title }}</a></span>
          {% endif %}
        {% endfor %}
        </ul>
        <div class="other-site-nav">
          <!--span class="navigation-home-message">Past:</span-->
        <ul class="navigation navigation-below">
        {% for workshop in workshops %}
          {% assign workshop_url = workshop | prepend: '/' %}
          {% assign workshop_title = workshop %}
          {% if workshop == site.workshop_name %}
          {% assign workshop_url = '/' %}
          {% assign workshop_title = site.mini_title %}
          {% endif %}
          {% if page.workshop_name != workshop %}
            {% assign class = "navigation-link navigation-home" %}
            <li class="{{ class }}"><a href="{{ workshop_url | absolute_url }}" alt="{{ workshop_title }}">{{ workshop_title }}</a></span>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      </div>
      <img src="/assets/images/background/background3.png" width="100%">
      <div class="floating-description no-mobile-480">{{ description | default: site.github.project_tagline }}</div>
      <div class="floating-description mobile-480">{{ mini_description | default: site.github.project_tagline }}</div>
    </header>
    <ul class="mobile-navigation">
    {% for site_page in site.pages %}
      {% if site_page.title and site_page.workshop_name == page.workshop_name %}
      {% assign class = "mobile-navigation-link" %}
      {% if page.url == site_page.url %}
          {% assign class = "mobile-navigation-link mobile-navigation-link-active" %}
      {% endif %}

      <li class="{{ class }}"><a href="{{ site_page.url }}" alt="{{ site_page.title }}">{{ site_page.title }}</a></span>
      {% endif %}
    {% endfor %}
    </ul>

    <div id="content-wrapper">
      {{ content }}
    </div>
    </div>

    {% if site.google_analytics %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-8Z08DMBC97"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8Z08DMBC97');
      </script>
    {% endif %}
  </body>
</html>
